<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title: </label>
    <!-- Bind input to newtitle value-->
    <input name="title" id="title" #newtitle />
  </div>
  <div class="field">
    <label for="link">Link: </label>
    <!-- Bind input to newlink value-->
    <input name="link" id="link" #newlink />
  </div>
  <!-- added this button -->
  <button
    (click)="addArticle(newtitle, newlink)"
    class="ui positive right floated button"
  >
    Submit link
  </button>
</form>

<!-- start adding here -->
<div class="ui grid posts">
  <!-- iterate through the lists of articles -->
  <app-article
    *ngFor="let article of articles"
    [article]="article">
  </app-article>
</div>
<!-- end adding here -->
